<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VTimer.Properties.Settings>
            <setting name="APPAutostartCountdown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ElapsedIntervalPlaySound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ElapsedIntervalSoundFileName" serializeAs="String">
                <value>wakeup1.wav</value>
            </setting>
            <setting name="IntervalHours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntervalMinutes" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="IntervalSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ElapsedIntervalDisplayAlert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="APPStartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IntervalCountDirection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntervalSoundMarker" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IntervalSoundMarkerTime" serializeAs="String">
                <value>10</value>
            </setting>
        </VTimer.Properties.Settings>
    </userSettings>
</configuration>